# Configuración Base de Datos
DB_USER=[usuariodeladb]
DB_PASSWORD=[contraseñadeladb]
DB_NAME=[nombredeladb]

# Seguridad Backend
JWT_SECRET=[clavelargaparaqueseasegura]
APP_DEFAULT_PASSWORD=[contraseñaparalosusuariosiniciales]
