# Configuración Base de Datos
DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=klublydb

# Seguridad Backend
JWT_SECRET=[clavelargaparaqueseasegura]
APP_DEFAULT_PASSWORD=[contraseñaparalosusuariosiniciales]
